#formsection{
    padding:40px 0px;
}
.userinputform{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:2px 2px;
}
.input{
    width:50vw;
}
.input input,select{
    width:50vw;
    height:32px;
    padding:0px 4px;
}
.input select{
    height:32px;
    padding:0px 4px;
}
.sbbtn{
background-color: black;
color:white;
cursor:pointer;
border-radius:25px;
}
.sbbtn:hover{
    background: rgb(253, 172, 128);
    color:black;
}