* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.center {
    text-align: center;
}

.common-sec-css {
    font-size: xx-large;
    margin: 0px 0px;
    padding-top: 45px;
    padding-bottom: 52px;
}

@media(max-width:500px) {
    .common-sec-css {
        font-size: 1.3rem;
    }
}


header {
    background: rgb(227, 178, 178);
    display: flex;
    justify-content: space-between;
}


.social {
    display: flex;
    justify-content: space-between;
    width: 12%;
    flex-wrap: wrap;

}

@media(max-width:500px) {
    .social {
        width: 100%;
    }
}


.socialbtn {
    background: none;
    border: none;
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

@media(max-width:500px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        width: 100%;
    }
}

.contact-info div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

hr {
    border-color: black;
}

/* navbar  */
nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 13vh;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #222328;
    color: white;
}

.logo {
    font-size: larger;
}

.xchg {
    color: red;
}

#nav-ul {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
    list-style: none;
}

#nav-ul li a:hover {
    background-color: white;
    color: black;
}

@media(max-width:1100px) {
    #nav-ul {
        display: none;
    }

}

#nav-ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.searchbtn {
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

#hambtn {
    display: none;
}

.hambtncls {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 25%;
    height: 34px;
    width: 45px;
    cursor: pointer;
}

#hammenu a {
    text-decoration: none;
    color: white;

}

#hammenu {
    display: none;
    background-color: #222328;
    position: sticky;
    top: 12%;
}

#hammenu>div {
    padding: 2px 3px;
}

@media(max-width:1100px) {
    #hambtn {
        display: block;
    }

    #hammenu {
        display: none;
    }


}



/* navbar ends  */

/* section 1  */

#section1 {
    background-image: url('images/image1\ updated.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 3px 2px 4px black;
}

.about h1 {
    font-size: 50px;

}

@media(max-width:500px) {
    .about h1 {
        font-size: 1.3rem;
    }
}


.ab-btn {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    height: 33px;
    width: 133px;
    cursor: pointer;
    margin: 5px 0px;
}

.ab-btn:hover {
    background: rgb(253, 172, 128);
}

/* section 1 ends  */

/* section 2  */
#section2 {
    background: rgb(227, 178, 178);
    padding: 20px 50px;
}

#sec2div {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

@media(min-width:700px) and (max-width:1000px) {
    #sec2div {
        grid-template-columns: repeat(2, auto);
    }

}

@media(max-width:700px) {
    #sec2div {
        grid-template-columns: repeat(1, auto);
    }

}

@media(max-width:500px) {
    #section2 {
        padding: 2px;
    }
}

#sec2div>div {
    padding: 17px 22px;
}

#sec2div>div:hover {
    background-color: rgb(240, 223, 223);
    border-radius: 24px;
}


.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature img {
    border-radius: 50%;
}

/* section 2 ends here  */


/* section 3  */
.services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 24px 50px;
}

@media(min-width:700px) and (max-width:1000px) {
    .services {
        grid-template-columns: repeat(2, auto);
    }

}

@media(max-width:700px) {
    .services {
        grid-template-columns: repeat(1, auto);
    }

}

@media(max-width:500px) {
    .services {
        padding: 2px;
    }
}



.service {
    padding: 2px 4px;

    border-radius: 4px;
    margin: 2px 2px;
}


.service:hover {
    box-shadow: 0 10px 16px 0 rgba(39, 39, 39, 0.2);
    background-color: rgb(227, 227, 227);
}

/* section 4  */
#section4 {
    background: rgb(227, 178, 178);
}

.abus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4div1 {
    padding: 2px 109px;
    font-size: large;
}

@media(max-width:500px) {
    .sec4div1 {
        padding: 3px;
        font-size: medium;
    }
}

@media(min-width:500px) and (max-width:1200px) {
    .sec4div1 {
        padding: 2px 26px;
    }
}



.sec4div2 img {
    height: 200px;
    width: 400px;
}

@media(max-width:1200px) {
    .abus {
        flex-wrap: wrap-reverse;
    }

    .sec4div2 {
        display: flex;
        justify-content: center;
    }

    .sec4div2 img {
        height: 30%;
        width: 40%;
    }
}

/* section 5  */
#section5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 65px 0px;
    font-size: xx-large;
}

@media(max-width:500px) {
    #section5 {
        font-size: 1.3rem;
    }
}

#section5 div {
    border: 2px solid rgb(171, 171, 171);
    border-radius: 25px;
    margin: 10px;

}

#section5 div h4 {
    padding: 24px;
}

/* footer  */
footer {
    background-color: #222328;
    color: white;

}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#footer>div {
    margin-top: 12px;
}

#footer>div>div {
    margin-top: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

.ftp {
    font-size: larger;
    padding: 24px 0px;
}